.base {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.screen {
    background-color: #fafafa;
    border: none;
    height: 90px;
    padding: 10px;
    width: 100%;
}

.suggestionsList {
    align-items: flex-start;
    background-color: #f3f3f3;
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    font-weight: bold;
    min-height: 50px;
    max-height: 100px;
    padding: 10px;
    width: 100%;
}

.currentWord {
    border-bottom: 1px solid black;
}

.suggestedWord {
    min-width: 40px;
    padding: 5px;
}