.base {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100%;
}

.innerWrapper {
    max-width: 360px;
    min-width: 275px;
    position: relative;
    width: 100%;
}

.phoneWrapper {
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 10px;
    overflow: hidden;
}

.modeButton {
    background-color: white;
    border: 1px solid blue;
    border-radius: 5px;
    color: blue;
    cursor: pointer;
    padding: 5px;
    position: absolute;
    right: 0px;
    top: -35px;
    width: 110px;

    &:hover, &.active {
        border-color: lighten(blue, 20%);
        color: lighten(blue, 10%);
    }
}